# Port du serveur
PORT=8000

# Connexion MongoDB
MONGO_URI=mongodb://localhost:27017/darna

# Secret pour signer les JWT
JWT_SECRET=14JKFZ9301NDLZKND3__

# Durée de vie du JWT (ex: 1h, 7d)
JWT_ACCESS_EXPIRES=7d

# OAuth Google
JWT_ACCESS_SECRET=5f4b8dca26e0f9a7a183d2c1f5e3b94a6d12e7cf0a8f59b7cbe249afc93b2d8d
JWT_REFRESH_SECRET=0c9b21e47fba5a6d43f7e198c8e63c2d7a3f4a9b1d6f0e2b87a54cf9e5b8a1d3
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=33460581059-flr4kh1m7nj28fkqa3ui614lmjgq3c29.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/google/callback